@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue.ttf');
}
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('/fonts/helvetica-neue-bold.ttf');
}
@font-face {
  font-family: 'Aller Bold';
  src: url('/fonts/aller-bold.ttf');
}

* {
  box-sizing: border-box;
}

body, h1, h2, ul, li, a, p {
  padding: 0px;
  margin: 0px;
  font-family: 'Helvetica Neue';
}

body {
  color: #222222;
  max-width: 100vw;
  color: #222222; 
}

.foda {
  display: block;
  background: url('/img/background.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-position: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* MENU */
.menu {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 3vw;
  
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  display: block;
  padding: 10px 15px;
}

.foda {
  background: url('/img/background.svg') 0% 0% no-repeat padding-box;
  padding: 0 5vw;
}

.bg-main {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.info {
  width: 55%;
  flex-wrap: wrap;
  opacity: 1;
}

/* INFO */
.info h1 {
  font-size: 2.5em;
  max-width: 500px;
  margin-top: 60px;
  color: #ffffff;
  font-family: 'Aller Bold';
}
.info p {
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  letter-spacing: 0px;
  color: #FFFFFF;
}

/* SUBSCRIBE */
.subscribe {
  width: 45%;
  height: 507px;
  background: #ffffff;
  box-shadow: 9px 9px 9px #00000029;
  border-radius: 24px;
  margin: 60px 100px;
  padding-left: 3vw;
  padding-right: 3vw;
  /* padding-top: 55px; */
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
  .bg-main{
    flex-direction: column;
    align-items: center;
  }
  .info {
    width:100%;
  }
  .subscribe {
    width: 100%;
    max-width: 380px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 20px
  }
 }

@media (min-width: 769px) and (max-width: 992px) { 

  .subscribe {
    margin-left: 40px;
    margin-right: 0px;
  }
 }

 @media (min-width: 993px) and (max-width: 1200px) { 
  .subscribe {
    margin-left: 40px;
    margin-right: 40px;
  }
 }

.subscribe h2 {
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-size: 1.25em;
  text-align: center;
  margin: 55px 0 44px 0;
  color: #461B51;
}
.subscribe form {
  width: 100%;
}
.subscribe input {
  width: 100%;

/*   max-width: 380px;
  width: calc(380px - 20%); */

  height: 57px;
  border: 3px solid #461B51;
  padding-left: 10px;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 20px;
  flex: 1;
}
.subscribe input::placeholder {
  font-family: 'Helvetica Neue';
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: 0px;
  color: #461B51;
  opacity: 1;
  font-weight: bold;
}

.subscribe button {
  border: 1px solid #461B51;
  border-radius: 4px;
  opacity: 1;
  width: 100%;
=======
/*   width: calc(280px - 20%); */
  padding: 17px 0;
  color: #ffffff;
  background: #461B51;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: inherit;
}

.conteudo {
  max-width: 1160px;
  margin: 60px auto;
  flex-wrap: wrap;
}

.conteudo div {
  display: flex;
}
.conteudo h2 {
  margin-left: 15px;
  font-size: 1.5em;
  font-family: 'Helvetica Neue Bold';
  color: #461B51;
}

.conteudo p {
  margin: 30px auto;
  font-weight: 1.125em;
  color: #461B51;
}

.participacoes {
  /* justify-content: center; */
  margin: 60px auto;
}

.quadrado {
  width: 220px;
  height: 220px;
  background: linear-gradient(#FF4D75, #D5499F, #9B44D9, #8542F1);
  border-radius: 15px;
}
.quadrado {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin: 15px;
  flex: 1 1 220px;
}
.quadrado p {
  color: white;
  text-align: center;
  max-width: 200px;
  font-size: 0.875em;
  margin: 0 auto;
}
.quadrado h3 {
  text-align: center;
  color: white;
  font-size: 1em;
}
.quadrado img {
  padding-right: 8px;
}

.quadrado a {
  /* display: inline-block; */
  margin: 25px auto;
  display: flex;
  margin-left: 20px;
  outline: none;
  color: white;
}
