@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue.ttf");
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/fonts/helvetica-neue-bold.ttf");
}
@font-face {
  font-family: "Aller Bold";
  src: url("/fonts/aller-bold.ttf");
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h5,
ul,
li,
a,
p {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue";
}

body {
  color: #222222;
  max-width: 100vw;
}

.foda {
  display: block;
  background: url("/img/background.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  background-position: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* MENU */
.menu {
  /* position: relative; */
  margin: 0 auto;
}
.menu-nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 3vw;
  position: fixed;
  top: 0;
  background: #fff;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  display: block;
  padding: 10px 15px;
}
@media (max-width: 390px) {
  .menu-nav a {
    padding: 10px 10px;
  }
}

.foda {
  background: url("/img/background.svg") 0% 0% no-repeat padding-box;
  padding: 0 5vw;
  margin-top: 120px;
}
@media (max-width: 768px) {
  .foda {
    margin-top: 222px;
  }
}

.bg-main {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}
/* iframe {
  text-align: center;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex: 1 1 500px;
} */

.info {
  width: 55%;
  flex-wrap: wrap;
  opacity: 1;
}

/* INFO */
.info h1 {
  font-size: 2.5em;
  max-width: 500px;
  margin-top: 60px;
  color: #ffffff;
  font-family: "Aller Bold";
}
.info h1:first-child {
  border: 2px solid #fff;
  padding: 15px;
  max-width: 350px;
  text-align: center;
}
.info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  letter-spacing: 1.4px;
  color: #ffffff;
}
.infoFirstParagraph {
  margin-top: 35px;
}
@media (max-width: 390px) {
  .info h1 {
    font-size: 2em;
  }
}

/* SUBSCRIBE */
.subscribe {
  width: 45%;
  height: 507px;
  background: #ffffff;
  box-shadow: 9px 9px 9px #00000029;
  border-radius: 24px;
  margin: 60px 100px;
  padding-left: 3vw;
  padding-right: 3vw;
  /* padding-top: 55px; */
}

@media (max-width: 768px) {
  .menu-nav {
    flex-direction: column;
  }
  .bg-main {
    flex-direction: column;
    align-items: center;
  }
  .info {
    width: 100%;
  }
  .subscribe {
    width: 100%;
    max-width: 380px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .subscribe {
    margin-left: 40px;
    margin-right: 0px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .subscribe {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.subscribe h2 {
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  font-size: 1.25em;
  text-align: center;
  margin: 55px 0 44px 0;
  color: #461b51;
}
.subscribe form {
  width: 100%;
}
.subscribe input {
  width: 100%;

  /*   max-width: 380px;
  width: calc(380px - 20%); */

  height: 57px;
  border: 3px solid #461b51;
  padding-left: 10px;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 20px;
  flex: 1;
}
.subscribe input::placeholder {
  font-family: "Helvetica Neue";
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: 0px;
  color: #461b51;
  opacity: 1;
  font-weight: bold;
}

.subscribe button {
  border: 1px solid #461b51;
  border-radius: 4px;
  opacity: 1;
  width: 100%;

  /*   width: calc(280px - 20%); */
  padding: 17px 0;
  color: #ffffff;
  background: #461b51;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: inherit;
}

.conteudo {
  max-width: 1160px;
  margin: 60px auto;
  flex-wrap: wrap;
  padding: 0 5vw;
}

.conteudo div {
  display: flex;
  align-items: center;
}
.conteudo h2 {
  margin-left: 15px;
  font-size: 1.5em;
  font-family: "Helvetica Neue Bold";
  color: #461b51;
}

.conteudo p {
  margin: 30px auto;
  color: #461b51;
}

.participacoes {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.quadrado {
  height: 300px;
  background: linear-gradient(#ff4d75, #d5499f, #9b44d9, #8542f1);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 220px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
}
.quadrado p {
  color: white;
  font-size: 0.875em;
  margin: 0 auto;
}
.quadrado h3 {
  text-align: center;
  color: white;
  font-size: 1em;
}
.quadrado a {
  margin: 15px auto 0 auto;
  outline: none;
  color: white;
  display: flex;
  align-items: center;
}
.quadrado a > img {
  margin-right: 5px;
}
.patrocinadores {
  max-width: 1160px;
  margin: 0 auto 30px auto;
  padding: 0 5vw;
  /* display: flex; */
  /* text-align: center; */
}
.teste {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 350px; */
}
@media (max-width: 1019px) {
  .teste {
    justify-content: center;
  }
}
.container-patrocinio {
  display: flex;
  flex: 0 1 300px;
  margin: 10px 0;
  padding: 0 10px;
}
.patrocinio-img {
  width: 85px;
  height: 85px;
  display: flex;
  margin-right: 5px;
}

.patrocinio-info {
  background: blue;
  padding: 10px;
  flex: 1 1 100px;
  background: linear-gradient(#ff4d75, #d5499f, #9b44d9, #8542f1);
  color: white;
  line-height: 2;
  border-radius: 4px;
}
.patrocinio-info span {
  font-size: 1em;
  font-family: "Helvetica Neue Bold";
  margin-right: 10px;
}

.patrocinio-info a {
  font-size: 1em;
  font-family: "Helvetica Neue";
  outline: none;
  color: white;
  cursor: pointer;
}
.patrocinadores__logo {
  display: flex;
  flex: 1 300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.patrocinadores__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 3%;
  font-size: 1.8rem;
}

.patrocinadores__title img {
  padding-right: 10px;
}

.patrocinadores__container {
  display: flex;
  flex: 1 1 300px;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
  padding-bottom: 6px;
  /* flex-wrap: wrap; */
}

.patrocinadores__dados {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background: transparent
    linear-gradient(180deg, #ff4d75 0%, #d5499f 31%, #9b44d9 78%, #8542f1 100%)
    0% 0% no-repeat padding-box;
  width: 242px;
  padding: 1.2% 0% 1.3% 1%;
  color: #fff;
}

.patrocinadores__dados a {
  color: #fff;
}

.patrocinadores__dados a:hover {
  color: rgb(24, 11, 141);
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
}
.logo_canalPeca {
  width: 80%;
}

.influencer-container {
  max-width: 1160px;
  margin: 0 auto 30px auto;
  /* padding: 0 5vw; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.influencer-card {
  align-items: center;
  align-self: unset;
  flex: 0 0 200px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  color: #b947bb;
}
.influencer-card h5,
.influencer-card a {
  font-size: 1.25em;
  padding: 10px;
}
.influencer-card img {
  display: unset;
}
.influencer-card a {
  font-size: 1em;
  margin: 0 auto;
}

footer {
  max-width: 1160px;
  margin: 0 auto;
}
footer {
  border-top: 4px solid #b947bb;
}
footer p {
  text-align: center;
  font-family: "Helvetica Neue";
  padding: 10px;
  color: #b947bb;
  font-weight: bold;
}

.subscribe-popup {
  box-shadow: none;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 770px) {
  .subscribe-popup {
    width: 100%;
  }
}
