@font-face {
  font-family: 'Aller Bold';
  src: url('/fonts/aller-bold.ttf');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* MENU - INÃCIO */
.menu{
  margin: 0 auto;
}

.menu-nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 3vw;
  top: 0;
  background: #fff;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  display: block;
  padding: 10px 15px;
}
@media (max-width: 390px) {
  .menu-nav a {
    padding: 10px 10px;
  }
}
/* MENU FINAL*/

.live{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video{
  width: 60%;
  height: auto;
}

.link-nps{
  font-family: 'Aller Bold';
  font-size: 1.6rem;
  color: blue;
  padding: 10px;

}

.link-nps a h3{
text-align: center;
}

.participacoes {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.participacoes {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.quadrado {
  height: 200px;
  background: linear-gradient(#FF4D75, #D5499F, #9B44D9, #8542F1);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 220px;  
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
}
.quadrado p {
  color: white;
  font-size: 0.875em;
  margin: 0 auto;
}
.quadrado h3 {
  text-align: center;
  color: white;
  font-size: 1em;
}
.quadrado a {
  margin: 15px auto 0 auto;
  outline: none;
  color: white;
  display: flex;
  align-items: center;
}
.quadrado a > img {
  margin-right: 5px;
}
.patrocinadores {
  max-width: 1160px;
  margin: 0 auto 30px auto;
  padding: 0 5vw;
}
.teste {
  display: flex;
  flex-wrap: wrap;
}
.container-patrocinio {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 300px;
  margin: 10px 0;
  padding: 0 10px;
}
.patrocinio-img {
  width: 85px;
  height: 85px;
  display: flex;
  margin-right: 5px;
}

.patrocinio-info {
  background: blue;
  padding: 10px;
  flex: 1 1 100px;
  background: linear-gradient(#FF4D75, #D5499F, #9B44D9, #8542F1);
  color: white;
  line-height: 2;
  border-radius: 4px;
}
.patrocinio-info span {
  font-size: 1em;
  font-family: 'Helvetica Neue Bold';
  margin-right: 10px;
}

.patrocinio-info a {
  font-size: 1em;
  font-family: 'Helvetica Neue';
  outline: none;
  color: white;
  cursor: pointer;
}
.patrocinadores__logo{
  display: flex;
  flex: 1 300px; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  margin: 0 auto;
}

.patrocinadores__title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  font-size: 1.8rem;
}

.patrocinadores__title img{
  padding-right: 10px;
}

.patrocinadores__container{
  display: flex;
  flex: 1 1 300px;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
  padding-bottom: 6px;
}

.patrocinadores__dados{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background: transparent linear-gradient(180deg, #FF4D75 0%, #D5499F 31%, #9B44D9 78%, #8542F1 100%) 0% 0% no-repeat padding-box;
  width: 242px;
  padding: 1.2% 0% 1.3% 1%;
  color: #fff;
}

.patrocinadores__dados a{
  color: #fff;
}

.patrocinadores__dados a:hover{
  color: rgb(24, 11, 141);
}

@media screen and (max-width: 500px){
  .link-nps{
    font-size: 1em;
  }
  .quadrado {
    height: 180px;
  }
  .patrocinio-img {
    width: 45px;
    height: 45px;
  }
}